---
import Layout from '../layout/Layout.astro'
---
<Layout isActive='index' title="Выпускная квалификационная работа">
<div class="grid place-content-center h-full gap-1 text-center">
    <h1 class="text-center">Добро пожаловать на главную страницу</h1>
    <p class="text-center">Данная страница была сгенерирована Astro</p>
    <div class="flex gap-1 flex-col p-2">
        <label for="" class="flex gap-2">Введите ваш код<input class="rounded" type="text"></label>
        <label for="" class="flex gap-2 items-center justify-center">Нет кода?<button class="rounded px-2 py-1 bg-zinc-600">Сгенерировать</button></label>
    </div>
</div>
</Layout>