---
import ThemeSwitcher from '../components/astro/ThemeSwitcher.astro'
import { ViewTransitions } from 'astro:transitions'
const {isActive, title} = Astro.props
---
<html lang="en" class="dark h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <ViewTransitions/>
		<title>{title}</title>
	</head>
	<body class="p-2 pb-0 dark:bg-zinc-900 dark:text-white flex  flex-col gap-2 h-full text-black" transition:animate="none" >
		<header class="p-2 dark:bg-zinc-800 rounded  flex-grow-0 flex-shrink-0 bg-zinc-100">
			<nav>
                <ul class="flex justify-between">
                    <a href="/"
                    class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "index" && "dark:bg-zinc-700 bg-zinc-200"} `}>Главная</a>
                    <div class="flex gap-2 items-center">
                        <a href="/frameworks/react"
                        class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "react" && "dark:bg-zinc-700 bg-zinc-200"} `}>React</a>
                        <a href="/frameworks/htmx"
                        class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "htmx" && "dark:bg-zinc-700 bg-zinc-200"} `}>htmx</a>
                        <a href="/frameworks/svelte"
                        class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "svelte" && "dark:bg-zinc-700 bg-zinc-200"} `}>Svelte</a>
                        <a href="/frameworks/qwik"
                        class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "qwik" && "dark:bg-zinc-700 bg-zinc-200"}`}>Qwik</a>
                    </div>
                </ul>
            </nav>
		</header>
		<main class="p-2 dark:bg-zinc-800 rounded flex-1 bg-zinc-100">
			<section transition:animate="fade" class="p-2 h-full">
                <slot/>
            </section>
			<aside>
                <ThemeSwitcher transition:persist/>
            </aside>
		</main>
		<footer class="p-2 dark:bg-zinc-800 rounded flex-grow-0 flex-shrink-0 bg-zinc-100">
            <nav class="flex justify-center">
                <ul class="flex justify-center gap-1">
                    <a href="/backend/bun"
                    class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "bun" && "dark:bg-zinc-700 bg-zinc-200"}`}>Bun</a>
                    <a href="/backend/nodejs"
                    class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "node" && "dark:bg-zinc-700 bg-zinc-200"}`}>Nodejs</a>
                    <a href="/backend/go"
                    class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "go" && "dark:bg-zinc-700 bg-zinc-200"}`}>Go</a>
                    <a href="/backend/php"
                    class={`hover:bg-zinc-200 dark:hover:bg-zinc-700 px-2 py-1 rounded transition-colors ${isActive == "php" && "dark:bg-zinc-700 bg-zinc-200"}`}>PHP</a>
                </ul>
            </nav>
        </footer>
	</body>
    <style>
        body::-webkit-scrollbar {
            display: none;
        }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    </style>
</html>
